@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,500&display=swap");
html {
  scroll-behavior: smooth; }

body {
  background-color: #c5c5c5;
  width: 100%;
  overflow-x: hidden; }

.row {
  margin: 0 1rem; }

.navbar .navbar-brand {
  position: relative;
  margin: 0; }
  .navbar .navbar-brand a {
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #807e7e; }
.navbar .navbar-link__items .navbar-link__item a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: #807e7e;
  font-weight: bold; }
  .navbar .navbar-link__items .navbar-link__item a:hover {
    color: #6d6464; }
  .navbar .navbar-link__items .navbar-link__item a:focus {
    color: black; }

.home-section .home-section__left {
  position: relative; }
  .home-section .home-section__left .home-section__left-text1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 4rem;
    line-height: 100%;
    color: #807e7e; }
  .home-section .home-section__left .home-section__left-text2 {
    font-size: 1.5rem;
    margin-top: 3rem;
    color: #807e7e; }
  .home-section .home-section__left .homesection-button {
    text-decoration: none;
    position: absolute;
    border: none;
    border-radius: 20px;
    background-color: #e6e6e6;
    color: #807e7e;
    width: 8rem;
    height: 3rem;
    padding: 0.45rem;
    font-size: 1.3rem;
    font-weight: bold;
    transition: all 0.3s linear;
    margin-top: 3rem;
    right: 4.2rem; }
    .home-section .home-section__left .homesection-button:hover {
      background-color: #c5c5c5; }
    .home-section .home-section__left .homesection-button:focus {
      background-color: #949393;
      color: white; }
  .home-section .home-section__left .home-section__awards {
    bottom: 1rem;
    margin-left: 2rem; }
    .home-section .home-section__left .home-section__awards .kubok {
      width: 3rem;
      height: 3rem;
      border: 2px solid #ececec;
      border-radius: 50%; }
      .home-section .home-section__left .home-section__awards .kubok img {
        width: 2rem;
        height: 2rem;
        margin-top: 7px;
        margin-left: 5.5px; }
    .home-section .home-section__left .home-section__awards .award-text p {
      color: #807e7e; }
      .home-section .home-section__left .home-section__awards .award-text p:nth-child(1) {
        margin-left: 2rem;
        margin-bottom: 0; }
      .home-section .home-section__left .home-section__awards .award-text p:nth-child(2) {
        margin-bottom: 0;
        margin-left: 2rem; }
        .home-section .home-section__left .home-section__awards .award-text p:nth-child(2) a {
          text-decoration: none;
          color: #a8a8a8;
          margin-left: 8px;
          transition: all 0.2s linear; }
          .home-section .home-section__left .home-section__awards .award-text p:nth-child(2) a:hover {
            color: #ffffff; }

.sinusoida .sinus-img {
  height: 100%;
  margin-top: 0.65rem; }
.sinusoida .section-name {
  color: #4543E8;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 0 0 1rem; }

.about-section {
  padding-top: 4rem;
  background-color: #e7e7e7; }
  .about-section .feedback-aboutUs {
    color: #807e7e;
    margin: 4rem 0;
    cursor: pointer; }
    .about-section .feedback-aboutUs .stars-rate {
      color: #4543E8; }
      .about-section .feedback-aboutUs .stars-rate > div {
        font-size: 2rem;
        margin-right: 0.4rem; }
    .about-section .feedback-aboutUs .feedback-text {
      font-size: 1.3rem;
      margin-top: 0.5rem; }
    .about-section .feedback-aboutUs .user-foto {
      color: #807e7e; }
      .about-section .feedback-aboutUs .user-foto .user-img {
        width: 100%; }
      .about-section .feedback-aboutUs .user-foto .user-info {
        padding: 0.3rem;
        margin-top: 0.2rem;
        margin-left: 1.8rem;
        transition: padding 0.3s ease, color 0.3s linear; }
        .about-section .feedback-aboutUs .user-foto .user-info .user-name {
          font-size: 1.2rem;
          margin-bottom: 0;
          transition: font-weight 0.7s ease,  font-size 0.7s ease; }
        .about-section .feedback-aboutUs .user-foto .user-info .user-work {
          font-size: 0.9rem;
          margin-bottom: 0;
          transition: font-weight 0.7s ease, font-size 0.7s ease; }
        .about-section .feedback-aboutUs .user-foto .user-info:hover {
          background-color: aquamarine;
          border-radius: 10px;
          padding-right: 6.6rem;
          color: black; }
          .about-section .feedback-aboutUs .user-foto .user-info:hover .user-name {
            font-weight: 600;
            font-size: 1.3rem; }
          .about-section .feedback-aboutUs .user-foto .user-info:hover .user-work {
            font-weight: 600;
            font-size: 1rem; }
      .about-section .feedback-aboutUs .user-foto .transition-utish {
        right: 4rem;
        top: 1rem;
        opacity: 0;
        transition: all 0.5s linear; }
        .about-section .feedback-aboutUs .user-foto .transition-utish > img {
          width: 80%; }
      .about-section .feedback-aboutUs .user-foto .user-info:hover .transition-utish {
        opacity: 1;
        right: 0.7rem;
        top: 1rem; }
    .about-section .feedback-aboutUs .social__modal .modalUser-link {
      text-decoration: none; }
      .about-section .feedback-aboutUs .social__modal .modalUser-link a {
        font-size: 1.7rem;
        margin-right: 0.5rem;
        color: dimgray; }
        .about-section .feedback-aboutUs .social__modal .modalUser-link a i {
          text-align: center;
          width: 40px;
          height: 40px;
          transition: all 0.3s linear;
          border-radius: 50%; }
          .about-section .feedback-aboutUs .social__modal .modalUser-link a i:hover {
            background-color: dimgray;
            border-radius: 50%;
            padding-top: 0.4rem;
            color: white; }
    .about-section .feedback-aboutUs .social__modal .modalClose-btn {
      background-color: dimgray;
      border-radius: 10px;
      position: absolute;
      right: 1rem; }
      .about-section .feedback-aboutUs .social__modal .modalClose-btn:hover {
        background-color: #333333; }
  .about-section .about-section__right-text {
    color: #807e7e;
    font-size: 3rem;
    line-height: 54px; }
  .about-section .about-section__workexp {
    margin: 2.3rem 0;
    color: #807e7e;
    width: 100%; }
    .about-section .about-section__workexp .projectd-complete {
      text-align: center; }
    .about-section .about-section__workexp .happy-clients {
      text-align: end; }
    .about-section .about-section__workexp .years-experience, .about-section .about-section__workexp .projectd-complete, .about-section .about-section__workexp .happy-clients {
      transition: all 0.3s linear;
      padding: 0 1rem;
      width: 33%; }
      .about-section .about-section__workexp .years-experience p:first-child, .about-section .about-section__workexp .projectd-complete p:first-child, .about-section .about-section__workexp .happy-clients p:first-child {
        font-size: 60px;
        line-height: 66px;
        cursor: pointer; }
      .about-section .about-section__workexp .years-experience p:last-child, .about-section .about-section__workexp .projectd-complete p:last-child, .about-section .about-section__workexp .happy-clients p:last-child {
        font-size: 21px;
        line-height: 31px;
        cursor: pointer; }
      .about-section .about-section__workexp .years-experience:hover, .about-section .about-section__workexp .projectd-complete:hover, .about-section .about-section__workexp .happy-clients:hover {
        color: dimgray;
        background-color: #dbd8d8;
        box-shadow: 5px 5px 30px 20px #b3b2b2;
        border-radius: 15px; }

.education-section .card {
  overflow: hidden; }
  .education-section .card .about-education {
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
    color: #807e7e;
    opacity: 0;
    transition: all 0.5s linear;
    vertical-align: bottom;
    margin: 1rem;
    top: 4rem; }
  .education-section .card .education-button {
    position: absolute;
    bottom: 1rem;
    left: 40%;
    opacity: 0;
    transition: opacity 0.5s linear; }
    .education-section .card .education-button > button {
      color: #807e7e;
      font-weight: bold;
      background-color: white;
      border: 2px solid #807e7e;
      border-radius: 10px;
      padding: 0.3rem 0.7rem;
      transition: all 0.2s linear; }
      .education-section .card .education-button > button:hover {
        color: #3b3b3b;
        border-color: #3b3b3b; }
      .education-section .card .education-button > button:focus {
        outline: none;
        background-color: #b0aff8;
        color: black;
        border-color: black; }
  .education-section .card:hover .card-body, .education-section .card:hover .card-header {
    opacity: 0.2;
    mix-blend-mode: darken; }
  .education-section .card:hover .about-education {
    opacity: 1; }
  .education-section .card:hover .education-button {
    opacity: 1; }
.education-section .card-body {
  padding: 0;
  transition: all 0.5s linear; }
.education-section .card-header {
  transition: all 0.5s linear;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #807e7e; }

.shop-section {
  background-color: #d2d1fd; }
  .shop-section .carousel .carousel-item {
    background-color: dimgray;
    width: 100%;
    height: 30rem; }
    .shop-section .carousel .carousel-item > img {
      max-width: 50%;
      height: auto;
      padding: 5rem;
      margin-left: 5rem; }
  .shop-section .carousel .carousel-indicators {
    height: 11px; }
    .shop-section .carousel .carousel-indicators > li {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: 1px solid white;
      background-color: transparent;
      transition: all 0.3s linear;
      align-self: center; }
      .shop-section .carousel .carousel-indicators > li.active {
        background-color: white;
        width: 10px;
        height: 10px; }

/*# sourceMappingURL=main.css.map */
