@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,500&display=swap');
$color: rgb(128, 126, 126);
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(197, 197, 197);
    // overflow: hidden;
    width: 100%;
    overflow-x: hidden;
    
}
//navbarsection

.row{
    margin: 0 1rem;
}
.navbar{
    .navbar-brand{
        position: relative;
        a{
            text-decoration: none;
            font-size: 2rem;
            letter-spacing: 2px;
            font-weight: bold;
            color: rgb(128, 126, 126);
        }
        margin: 0;
    }
    .navbar-link__items{
        .navbar-link__item a{
            text-decoration: none;
            font-size: 1rem;
            text-transform: uppercase;
            color: rgb(128, 126, 126);
            font-weight: bold;
            &:hover{
                color: rgb(109, 100, 100);
            }
            &:focus{
                color: black;
            }
        }
    }
}
//navbarsection

//homesection
.home-section{
    .home-section__left{
        position: relative;
        .home-section__left-text1{
            font-size: 60px;
            font-weight: bold;
            margin-top: 4rem;
            line-height: 100%;
            color: $color;
        }
        .home-section__left-text2{
            font-size: 1.5rem;
            margin-top: 3rem;
            color: $color;
            
        }
        .homesection-button{
            text-decoration: none;
            position: absolute;
            border: none;
            border-radius:20px;
            background-color: #e6e6e6;
            color: $color;
            width: 8rem;
            height: 3rem;
            padding: 0.45rem;
            font-size: 1.3rem;
            font-weight: bold;
            transition: all 0.3s linear;
            margin-top: 3rem;
            right: 4.2rem;
            &:hover{
                background-color: #c5c5c5;
            
            }
            &:focus{
                
                background-color: rgb(148, 147, 147);
                color: white;
            }
        }
        .home-section__awards{
            bottom: 1rem;
            margin-left: 2rem;
            .kubok{
                width: 3rem;
                height: 3rem;
                border: 2px solid rgb(236, 236, 236);
                border-radius: 50%;
                img{
                    width: 2rem;
                    height: 2rem;
                    margin-top: 7px;
                    margin-left: 5.5px;
                    
                }
            }
            .award-text p{
                color: $color;
                &:nth-child(1){
                    margin-left: 2rem;
                    margin-bottom: 0;
                }
                &:nth-child(2){
                    margin-bottom: 0;
                    margin-left: 2rem;
                    a{
                        text-decoration: none;
                        color: #a8a8a8;
                        margin-left: 8px;
                        transition: all 0.2s linear;
                        &:hover{
                            color: #ffffff;
                        }
                    }
                }

            }
        }
    }
}
//homesection

//about-section
.sinusoida{
    .sinus-img{
        height: 100%;
        margin-top: 0.65rem;
    }
    .section-name{
        color: #4543E8;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 0 0 0 1rem;
    }
}
.about-section{
    padding-top: 4rem;
    background-color: rgb(231, 231, 231);
    
    .feedback-aboutUs{
        color: $color;
        margin: 4rem 0;
        cursor: pointer;
        .stars-rate{
            color: #4543E8;
            & > div{
            font-size: 2rem;
            margin-right: 0.4rem;
            }
        }
        .feedback-text{
            font-size: 1.3rem;
            margin-top: 0.5rem;
        }
        .user-foto{
            color: $color;
            .user-img{
                width: 100%;
            }
            .user-info{
                padding: 0.3rem;
                margin-top: 0.2rem;
                margin-left: 1.8rem;
                transition: padding 0.3s ease, color 0.3s linear;
                .user-name{
                    font-size: 1.2rem;
                    margin-bottom: 0;
                    transition: font-weight 0.7s ease,  font-size 0.7s ease;
                }
                .user-work{
                    font-size: 0.9rem;
                    margin-bottom: 0;
                    transition: font-weight 0.7s ease, font-size 0.7s ease;
                }
                &:hover{
                    background-color: aquamarine;
                    border-radius: 10px;
                    padding-right: 6.6rem;
                    color: rgb(0, 0, 0);
                    .user-name{
                        font-weight: 600;
                        font-size: 1.3rem;
                    }
                    .user-work{
                        font-weight: 600;
                        font-size: 1rem;
                    }
                    
                }
            }
            .transition-utish{
               right: 4rem;
               top: 1rem;
               opacity: 0;
               transition: all 0.5s linear;
               & > img{
                   width: 80%;
               }
            }
            .user-info:hover .transition-utish{
                opacity: 1;
                right: 0.7rem;
                top: 1rem;
            }
        }
        .social__modal{
            .modalUser-link{
                text-decoration: none;
                a{
                    font-size: 1.7rem;
                    margin-right: 0.5rem;
                    color: dimgray;
                    i{
                        text-align: center;
                        width: 40px;
                        height: 40px;
                        transition: all 0.3s linear;
                        border-radius: 50%;
                        &:hover{
                            background-color: dimgray;
                            border-radius: 50%;
                            padding-top: 0.4rem;
                            color: white;

                        }
                    }
                }
            }
            .modalClose-btn{
                background-color: dimgray;
                border-radius: 10px;
                position: absolute;
                right: 1rem;
                &:hover{
                    background-color: rgb(51, 51, 51);
                }
            }
            
        }
    }
    .about-section__right-text{
        color: $color;
        font-size: 3rem;
        line-height: 54px;
    }
    .about-section__workexp{
        margin: 2.3rem 0;
        color: $color;
        width: 100%;
        .projectd-complete{
            text-align: center;
        }
        .happy-clients{
            text-align: end;
        }
        .years-experience, .projectd-complete, .happy-clients{
            transition: all 0.3s linear;
            // transition: text-align 1s ease;
            padding: 0 1rem;
            width: 33%;
            p:first-child{
                font-size: 60px;
                line-height: 66px;
                cursor: pointer;

            }
            p:last-child{
                font-size: 21px;
                line-height: 31px;
                cursor: pointer;
            }
            &:hover{
                color: dimgray;
                background-color: #dbd8d8;
                box-shadow: 5px 5px 30px 20px #b3b2b2;
                // text-align: center;
                border-radius: 15px;
            }
        }
    }
}
//about-section

//education-section
.education-section{
    
    .card{
        overflow: hidden;
        .about-education{
            font-weight: bold;
            text-align: center;
            font-size: 1.4rem;
            color: $color;
            opacity: 0;
            transition: all 0.5s linear;
            vertical-align: bottom;
            margin: 1rem;
            top: 4rem;
        }
        .education-button{
            position: absolute;
            bottom: 1rem;
            left: 40%;
            opacity: 0;
            transition: opacity 0.5s linear;
            & > button {
                color: $color;
                font-weight: bold;
                background-color: white;
                border: 2px solid $color;
                border-radius: 10px;
                padding: 0.3rem 0.7rem;
                transition: all 0.2s linear;
                &:hover{
                    color: rgb(59, 59, 59);
                    border-color: rgb(59, 59, 59);
                }
                &:focus{
                    outline: none;
                    background-color: #b0aff8;
                    color: rgb(0, 0, 0);
                    border-color: rgb(0, 0, 0);
                }
            }
        }
        &:hover{
            .card-body, .card-header{
                opacity: 0.2;
                mix-blend-mode: darken;
            }
            .about-education{
                opacity: 1;
            }
            .education-button{
                opacity: 1;
            }
        }
    }
    .card-body{
        padding: 0;
        transition: all 0.5s linear;
    }
    .card-header{
        transition: all 0.5s linear;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $color;
    }
    .school-education{

    }
    .lyceum-education{

    }
    .university-education{

    }
}
//education-section